<%- include('includes/header.ejs') %>
</head>
<body>

  <%- include('includes/navigation.ejs') %>

  <h1>404</h1>
  <h3>Uh oh! Page Not Found!</h3>
  <h3>Error Will Robinson! Error!</h3>

<%- include('includes/footer.ejs') %>
