<header class="main-header">
  <nav class="main-header-nav">
    <ul class="main-header-item-list">
      <li class="main-header-item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Main</a></li>
      <li class="main-header-item"><a class="<%= path === '/index/add-users' ? 'active' : '' %>" href="/index/add-users">Add User</a></li>
    </ul>
  </nav>
</header>
