<%- include('includes/header.ejs') %>
  <link rel="stylesheet" href="/css/users.css">
</head>
<body>

  <main>
    <% if (users.length >0) { %>
    <ul>
      <% for (let user of users) { %>
      <li></li>
    </ul>
      <% } %>
    <% } else {%>
      <h1>No Users yet!</h1>
    <% } %>
  </main>


<%- include('includes/footer.ejs') %>
